<a href="https://colab.research.google.com/github/barbara99/unicorn_PP-04_lessons/blob/main/unicorn_PP_04_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#print statement
print("hello world")

hello world

In [2]:
x = "Welcome to python class - Unicorn"

In [3]:
print(x)

Welcome to python class - Unicorn

In [4]:
type(x)

str

In [7]:
student_name = "Barbara"

In [8]:
print("My name is {}".format(student_name))

My name is Barbara

In [10]:
company_name = "unicorn"
number_of_students = 55

In [11]:
print("There are {} number of students at {}".format(number_of_students, company_name))

There are 55 number of students at unicorn

In [ ]:
#get user input

In [16]:
firstname = input("What is your name: ")

What is your name: ama

In [22]:
print("Hello", firstname)

Hello ama

In [24]:
x = input("Enter the tuition fees for a course: ")
y = input("Enter the number of courses to be offered: ")
print("The total funds required to take {} number of courses at {} is {}".format(y,x, x*y))

Enter the tuition fees for a course: 700
Enter the number of courses to be offered: 5

TypeError: ignored

In [27]:
x = input("Enter the tuition fees for a course: ")

y = input("Enter the number of courses to be offered: ")
z = int(x) * int(y)
print("The total funds required to take {} number of courses at {} is {}".format(y,x, z))

Enter the tuition fees for a course: 700
Enter the number of courses to be offered: 6
The total funds required to take 6 number of courses at 700 is 4200

In [28]:
#datatypes
#booleans
True

True

In [29]:
False

False

In [34]:
goats = 4
cows = 8
goats == cows < > <= >=

False

In [ ]:
#list, dictionaries and tuples